*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width:100%;
}
nav .fa{
  display: none;
}
.row {
  display: flex;
  height: 88%;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
}
.col {
  flex-basis: 50%;
}
h1 {
  color: white;
  font-size: 100px;
}
p {
  color: white;
  font-size: 15px;
  line-height: 15px;
}
button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: white;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.card1 {
  background-image: url(images/card1.jpg);
}
.card2 {
  background-image: url(images/card2.jpg);
}
.card3 {
  background-image: url(images/card3.jpg);
}
.card4 {
  background-image: url(images/card4.jpg);
}
.card:hover{
  transform: translateY(-10px);
}
h5 {
  color: white;
  text-shadow: 0 0 5px #999;
}
.card p {
  text-shadow: 0 0 0 15px black;
  font-size: 10px;
}
.hero-tbn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-tbn:hover {
  border: 1px solid white;
  background: white;
  color: black;
  transition: 1s;
}
@media(max-width:700px) {
  .nav-links ul li{
    display:block;
  }
  .nav-links {
    position: absolute;
    background: black;
    height: 100vh;
    width: 200px;
    top:0;
    right: -200px;
    text-align: left;
    z-index: 2;
    color: black;
    transition: 1s;
  }
  nav .fa{
    display:block;
    color:white;
    margin:10px;
    font-size: 22px;
    cursor:pointer;
  }
  .nav-links ul{
    padding:30px;
  }
  .row{
    flex-direction: column;
  }
}
